In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
df = pd.read_csv("../data/raw/aqi_data.csv")

In [3]:
df.head()

,Unnamed: 0,Datetime,CO,NO,NO2,O3,SO2,PM2_5,PM10,NH3,AQI
0,0,1701388800,2830.51,0.71,91.85,7.33,98.23,302.49,352.06,25.84,5
1,1,1701392400,3204.35,5.25,101.45,0.89,103.95,348.80,395.55,27.61,5
2,2,1701396000,3845.21,21.46,108.30,0.07,116.35,411.29,462.70,34.96,5
3,3,1701399600,4272.46,42.47,113.79,1.99,131.61,449.61,504.76,33.44,5
4,4,1701403200,3471.37,38.89,119.27,12.34,164.03,419.67,462.73,13.05,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8665 entries, 0 to 8664
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8665 non-null   int64
 1   Datetime    8665 non-null   int64
 2   CO          8665 non-null   float64
 3   NO          8665 non-null   float64
 4   NO2         8665 non-null   float64
 5   O3          8665 non-null   float64
 6   SO2         8665 non-null   float64
 7   PM2_5       8665 non-null   float64
 8   PM10        8665 non-null   float64
 9   NH3         8665 non-null   float64
 10  AQI         8665 non-null   int64
dtypes: float64(8), int64(3)
memory usage: 744.8 KB

In [5]:
# Checking null values
print(df.isnull().sum() , "\n---------------- \n" , df_test.isnull().sum() )

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder